.component-tratamento-form {
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #ccc;
    width: 800px;
}

.component-tratamento-form-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.component-tratamento-form-form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.component-tratamento-form-form input[type="text"],
.component-tratamento-form-form input[type="datetime-local"],
.component-tratamento-form-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.component-tratamento-form-form textarea {
    resize: none;
    height: 300px;
}
